@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  /* Headings, Call-to-actions, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');  /* Body */

:root {

    /* Primary Colors */
    --dark-blue: hsl(217, 28%, 15%);            /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%);       /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%);      /* footer background */
    --dark-blue-feedback: hsl(219, 30%, 18%);   /* testimonials background */

    /* Accent Colors */
    --cyan: hsl(176, 68%, 64%);         /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%);         /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%);     /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue-main);
}


/* header-styling */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    list-style-type: none;
}

.nav-list li {
    margin-top: 1rem;
    padding-right: 50px;
}

.nav-list li:last-child {
    padding-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
}
/* header-styling ends */