@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  /* Headings, Call-to-actions, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');  /* Body */

:root {

    /* Primary Colors */
    --dark-blue: hsl(217, 28%, 15%);            /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%);       /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%);      /* footer background */
    --dark-blue-feedback: hsl(219, 30%, 18%);   /* testimonials background */

    /* Accent Colors */
    --cyan: hsl(176, 68%, 64%);         /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%);         /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%);     /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue-main);
}


/* header-style */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--dark-blue);
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li {
    margin-top: 1rem;
    padding-right: 50px;
}

.nav-list li:last-child {
    padding-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
}
/* header-style ends */


/* container-one style */
.container-one {
    display: flex;
    flex-direction: column;
    padding: 75px 75px 190px 75px;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-blue);
    background-image: url('./images/bg-curvy-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container-one-a img {
    max-width: 100%;
    /*width: 53%;*/
    filter: drop-shadow(10px 10px 5px var(--dark-blue-footer));
}

.container-one-b {
    margin-top: 40px;
}

.container-one-b h1 {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

.container-one-b p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 18px;
}

.container-one-b button {
    border: transparent;
    border-radius: 100px;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    padding: 20px 90px;
    color: var(--white);
    background: linear-gradient(to right, hsl(176, 68%, 64%),  hsl(198, 60%, 50%));
}
/* container-one style ends */


/* container-two style */
.container-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 75px 75px 75px;
    background: var(--dark-blue-main);
}

.container-two-a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.image-one, 
.image-two, 
.image-three, 
.image-four {
    margin: auto;
    color: var(--white);
}

.image-one img, 
.image-two img, 
.image-three img, 
.image-four img {
    margin-bottom: 30px;
    filter: drop-shadow(0 0 0.75rem hsl(176, 68%, 64%));
}

.image-one h3, 
.image-two h3, 
.image-three h3, 
.image-four h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.image-one p, 
.image-two p, 
.image-three p, 
.image-four p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.container-two-b {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
/* container-two style ends */


/* container three style */
.container-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 75px;
    color: var(--white);
}

.container-three a {
    color: var(--cyan);
}

.container-three-a img {
    max-width: 100%;
    filter: drop-shadow(10px 10px 5px var(--dark-blue-footer));
}

.container-three-b {
    margin-top: auto;
    margin-left: 55px;
    margin-bottom: auto;
}

.container-three-b h2{
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container-three-b p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 32px;
}

#arrow-image {
    margin-left: 0.3rem;
}
/* container three style ends */


/* container-four style */
.container-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 75px;
    color: var(--white);
}

.container-four h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container-four p, small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container-four .container-four-image {
    margin-bottom: auto;
}

.feedback-container-one {
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 #000000;
    width: 360px;
    margin-top: 35px;
    margin-right: 35px;
    margin-left: -45px;
    padding: 25px;
}

.feedback-container-two {
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 #000000;
    width: 360px;
    margin-top: 35px;
    margin-right: 35px;
    padding: 25px;
}

.feedback-container-three {
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 #000000;
    width: 360px;
    margin-top: 35px;
    padding: 25px;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user-image img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
    margin-top: 10px;
}

.user-data {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.user-data h4 {
    padding-top: 15px;
    font-size: 14px;
}

.user-data small {
    margin-top: 6px;
    font-size: 12px;
}
/* container-four style ends */


/* container-five style */
.container-five {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-blue);
    box-shadow: 5px 5px 5px 0 #000000;
    border-radius: 10px;
    max-width: 100%;
    width: 825px;
    position: relative;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -130px;
    color: var(--white);
}

.container-five h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container-five p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container-five-one {
    margin-top: 50px;
}

.container-five-one h2 {
    margin-bottom: 25px;
}

.container-five-one p {
    margin-bottom: 35px;
}

.container-five-two {
    margin-bottom: 35px;
}

.container-five-two form input {
    border: transparent;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    max-width: 100%;
    padding-top: 20px;
    padding-right: 325px;
    padding-bottom: 20px;
    padding-left: 35px;
    margin-right: 30px;
}

.container-five-two button {
    border: transparent;
    border-radius: 100px;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    padding: 20px 30px;
    color: var(--white);
    background: linear-gradient(to right, hsl(176, 68%, 64%),  hsl(198, 60%, 50%));
}
/* container-five style ends */


/*footer style starts*/
footer {
    background-color: var(--dark-blue-footer);
    color: #fff;
    padding: 75px;
    padding-top: 250px;
    max-width: 100%;
}

.main-logo-footer img {
    filter: drop-shadow(10px 10px 5px #000000);
}

footer p, li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.gps {
    display: flex;
    flex-direction: row;
}

.gps img {
    width: 13px;
    height: 13px;
    margin-top: auto;
    margin-bottom: auto;
}

.gps p {
    margin-top: 28px;
    margin-right: auto;
    margin-left: 40px;

}

.flexing-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-details {
    margin-top: 55px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.telephone {
    display: flex;
    flex-direction: row;
    margin-bottom: -25px;
}

.telephone img {
    width: 18px;
    height: 18px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.phone-number {
    margin-top: auto;
    margin-bottom: auto;
}

.email {
    display: flex;
    flex-direction: row;
}

.email img {
    width: 20px;
    height: 16px;
    margin-top: 30px;
    margin-right: 20px;
}

.email-address {
    margin-top: auto;
}

.list-container {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    line-height: 2;
}

.list-container-one li {
    list-style-type: none;
}

.list-container-one a {
    color: #fff;
    text-decoration: none;
}

.list-container-two {
    margin-left: 150px;
}

.list-container-two li {
    list-style-type: none;
}

.list-container-two a {
    color: #fff;
    text-decoration: none;
}

.social-container {
    margin-top: 75px;
    margin-bottom: auto;
    margin-left: auto;
}

.social-container ul{
    display: flex;
    flex-direction: row;
}

.social-container li {
    list-style-type: none;
    padding-right: 15px;
}

.social-container a {
    text-decoration: none;
    color: #fff;
}

.attribution {
    margin-top: 7rem;
}
/*footer style ends*/


/*media query*/

@media screen and (max-width: 700px) {

    /*header-container*/
    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 35px;
    }   

    .nav-list {
        margin-left: auto;
    }

    .main-logo img {
        margin-right: auto;
    }


    /*container-one*/
    .container-one {
        padding: 35px;
    }

    .container-one-a img {
        width: 100%;

    }


    /*container-two*/
    .container-two {
        display: flex;
        flex-direction: column;
        padding: 35px;
        margin-top: 150px;
    }

    .container-two-a,
    .container-two-b {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;

    }

    .container-two-a .image-one{
        margin-bottom: 150px;
    }

    .container-two-a .image-two{
        margin-bottom: 150px;
    }

    .container-two-b .image-three{
        margin-bottom: 150px;
    }

    .container-two-b .image-four {
        margin-bottom: 150px;
    }


    /*container-three*/
    .container-three {
        align-items: center;
        justify-content: center;
        padding: 35px;
    }

    .container-three-b {
        margin-top: 90px;
    }

    
    /*container-four*/
    .container-four {
        display: flex;
        padding: 35px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .feedback-container-three {
       margin-left: -2.2rem;
    }


    /*container-five*/
    .container-five {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
    }

    .container-five-two form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-five-two form button {
        margin-top: 45px;
    }


    /*footer-container*/
    footer {
        padding: 35px;
        padding-top: 200px;
    }

    .flexing-elements {
        display: flex;
        flex-direction: column;
    }

    .list-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .contact-details {
        margin-left: 0;
    }

    .list-container-two {
        margin-top: auto;;
        margin-right: auto;
        margin-left: auto;
    }

    .social-container {
        margin-right: auto;
        margin-left: auto;
    }
}