@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  /* Headings, Call-to-actions, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');  /* Body */

:root {

    /* Primary Colors */
    --dark-blue: hsl(217, 28%, 15%);            /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%);       /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%);      /* footer background */
    --dark-blue-feedback: hsl(219, 30%, 18%);   /* testimonials background */

    /* Accent Colors */
    --cyan: hsl(176, 68%, 64%);         /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%);         /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%);     /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue-main);
}


/* header-styling */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li {
    margin-top: 1rem;
    padding-right: 50px;
}

.nav-list li:last-child {
    padding-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
}
/* header-styling ends */


/* container-one styling */
.container-one {
    display: flex;
    flex-direction: column;
    padding: 50px 70px 70px 70px;
    text-align: center;
    color: var(--white);
}

.container-one .container-a img {
    max-width: 100%;
    width: 55%;
}

.container-one .container-b {
    margin-top: 40px;
}

.container-one .container-b h1 {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

.container-one .container-b p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 35px;
}

.container-one .container-b button {
    border-radius: 5rem;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    padding: 20px 90px;
    color: var(--white);
    background: linear-gradient(to right, hsl(176, 68%, 64%),  hsl(198, 60%, 50%));
}
/* container-one styling ends */


/*container-two styling*/
.container-two {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.container-two-a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.image-one, 
.image-two, 
.image-three, 
.image-four {
    margin: auto;
    color: var(--white);
}

.image-one img, 
.image-two img, 
.image-three img, 
.image-four img {
    margin-bottom: 30px;
}

.image-one h3, 
.image-two h3, 
.image-three h3, 
.image-four h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.image-one p, 
.image-two p, 
.image-three p, 
.image-four p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.container-two-b {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
/*container-two styling ends*/