@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  /* Headings, Call-to-actions, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');  /* Body */

:root {

    /* Primary Colors */
    --dark-blue: hsl(217, 28%, 15%);            /* intro and email sign up background */
    --dark-blue-main: hsl(218, 28%, 13%);       /* main background */
    --dark-blue-footer: hsl(216, 53%, 9%);      /* footer background */
    --dark-blue-feedback: hsl(219, 30%, 18%);   /* testimonials background */

    /* Accent Colors */
    --cyan: hsl(176, 68%, 64%);         /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%);         /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%);     /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue-main);
}


/* header-style */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 75px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--dark-blue);
}

.nav-list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li {
    margin-top: 1rem;
    padding-right: 50px;
}

.nav-list li:last-child {
    padding-right: 0;
}

.nav-list a {
    text-decoration: none;
    color: var(--white);
}
/* header-style ends */


/* container-one style */
.container-one {
    display: flex;
    flex-direction: column;
    padding: 75px 75px 150px 75px;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-blue);
    background-image: url('./images/bg-curvy-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container-one-a img {
    max-width: 100%;
    width: 53%;
}

.container-one-b {
    margin-top: 40px;
}

.container-one-b h1 {
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

.container-one-b p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 18px;
}

.container-one-b button {
    border: transparent;
    border-radius: 100px;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    padding: 20px 90px;
    color: var(--white);
    background: linear-gradient(to right, hsl(176, 68%, 64%),  hsl(198, 60%, 50%));
}
/* container-one style ends */


/* container-two style */
.container-two {
    display: flex;
    flex-direction: column;
    padding: 75px;
    background: var(--dark-blue-main);
}

.container-two-a {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.image-one, 
.image-two, 
.image-three, 
.image-four {
    margin: auto;
    color: var(--white);
}

.image-one img, 
.image-two img, 
.image-three img, 
.image-four img {
    margin-bottom: 30px;
}

.image-one h3, 
.image-two h3, 
.image-three h3, 
.image-four h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.image-one p, 
.image-two p, 
.image-three p, 
.image-four p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.container-two-b {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
/* container-two style ends */


/* container three style */
.container-three {
    display: flex;
    flex-direction: row;
    padding: 75px;
}

.container-three-a img {
    max-width: 100%;
    width: 100%;
}

.container-three-b {
    margin-top: auto;
    margin-left: 55px;
    margin-bottom: auto;
}

.container-three-b h2{
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.container-three-b p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 32px;
}

#arrow-image {
    margin-left: 0.3rem;
}
/* container three style ends */


/* container-four style */
.container-four {
    display: flex;
    flex-direction: row;
    padding: 75px;
}

.feedback-container-one {
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    width: 360px;
    margin-top: 35px;
    margin-right: 35px;
    margin-left: -45px;
    padding: 25px;
}

.feedback-container-two {
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    width: 360px;
    margin-top: 35px;
    margin-right: 35px;
    padding: 25px;
}

.feedback-container-three {
    background-color: var(--dark-blue-feedback);
    border-radius: 5px;
    width: 360px;
    margin-top: 35px;
    margin-right: auto;
    padding: 25px;
}

.user-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.user-image img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
    margin-top: 10px;
}

.user-data {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.user-data h4 {
    padding-top: 15px;
    font-size: 14px;
}

.user-data small {
    margin-top: 6px;
    font-size: 12px;
}
/*container-four style ends*/