@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');  /* Headings, Call-to-actions, Header Navigation */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');  /* Body */

:root {

    /* Primary Colors */
    --dark-blue: hsl(217, 28%, 15%);    /* intro and email sign up background */
    --dark-blue: hsl(218, 28%, 13%);    /* main background */
    --dark-blue: hsl(216, 53%, 9%);     /* footer background */
    --dark-blue: hsl(219, 30%, 18%);    /* testimonials background */

    /* Accent Colors */
    --cyan: hsl(176, 68%, 64%);         /* inside call-to-action gradient */
    --blue: hsl(198, 60%, 50%);         /* inside call-to-action gradient */
    --light-red: hsl(0, 100%, 63%);     /* error */

    /* Neutral */
    --white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}